@import url("https://cdn.web-fonts.ge/fonts/alk-rounded-nusx-med/css/alk-rounded-nusx-med.min.css");


/*reset styles*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
}
a{
	text-decoration: none;
	color: black;
}
ul, ol{
	list-style-type: none;
}

/*custom style*/
header, section {
	padding: 50px;
}
header{
	background-color: blue;
}
.nav, .nav ul, .navbar-ul li{
	display: inline;
}
.nav ul a{
	color: white;
	font-family: 'Open Sans';
}
.logo{
	vertical-align: middle;
}
.nav{
	margin-left: 100px;
	vertical-align: middle;
}
.navbar-ul li{
	margin-right: 20px;	
}

.about{
	background-color: lightcoral;
}
.about-block{
	width: 800px;
	margin: auto;
}
h1{
	font-size: 30px;
	font-family: "ALK Rounded Nusx Med", sans-serif;
}
.about-block p, .about-block img {
	display: inline-block;
	vertical-align: middle;
}
.about-block p{
	width: 400px;
	font-family: "ALK Life", sans-serif;
	font-size: 16px;
}
.about-font{
	font-size: 20px;
	font-family: 'alk-sanet';
}